body {

  font-family: 'Roboto';
}

html {
  scroll-snap-type: y mandatory;
}

.bigtext{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  
}

h {
  background: #FFFFFF;
  background: linear-gradient(to bottom right, #FFFFFF 40%, #494949 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop:always;
  background:  rgba(0,0,0,1);
}

#peepee {
  background: rgb(31,12,88);
  background: linear-gradient(180deg, rgba(31,12,88,1) -20%, rgba(0,0,0,1) 100%);
}


#sectiontwo{
  display:flex;
  justify-content: center;
  align-items: center;
}


button {
  color:white;
}